html{
    background-color: #E6E6E9;
}

div#general{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general2{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general3{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general4{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general5{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general6{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general7{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}
div#general8{
	margin:auto;
	margin-top: 3%;
	margin-left: 20%;
	width: 100%;
	height: 100%;
}

div#Preguntas1{
	margin:auto;
	float: left;
}
div#Preguntas2{
	margin:auto;
	float: center;
}
div#Preguntas3{
	margin:auto;
	float: left;
}
div#Preguntas4{
	margin:auto;
	float: center;
}
div#Preguntas5{
	margin:auto;
	float: left;
}
div#Preguntas6{
	margin:auto;
	float: center;
}
div#Preguntas7{
	margin:auto;
	float: left;
}
div#Preguntas8{
	margin:auto;
	float: center;
}
div#Preguntas9{
	margin:auto;
	float: left;
}
div#Preguntas10{
	margin:auto;
	float: center;
}
div#Preguntas11{
	margin:auto;
	float: left;
}
div#Preguntas12{
	margin:auto;
	float: center;
}
div#Preguntas13{
	margin:auto;
	float: left;
}
div#Preguntas14{
	margin:auto;
	float: center;
}
div#Preguntas15{
	margin:auto;
	float: left;
}
div#Preguntas16{
	margin:auto;
	float: center;
}

